body {
  text-align: center;
}

p {
  font-size: 19px;
}

#why {
  margin-bottom: -50px;
}

.greetings {
  background-color: #009246;
  padding-top: -70px;
}
.pizzo {
  width: 45%;
  height: auto;
  margin-right: 3%;
}

.waddaya {
  height: 850px;
  margin: 0 auto;
}

#sub-head {
  font-size: 35px;
}

.literal-pizza {
  display: inline-block;
  float: left;
  margin-bottom: 45px;
  margin-left: 450px;
}

.pizza-order {
  display: inline-block;
  float: right;
  margin-top: 45px;
}

#topping-select {
  padding: 75px;
}

.reciept {
  background-color: #ce2b37;
  height: 450px;
}

#output {
  display: none;
  margin-top: 35px;
  margin: 0 auto;
  position: static;
}
