body {
  text-align: center;
}

p {
  font-size: 19px;
}

#why {
  margin-bottom: -50px;
}

.greetings {
  background-color: #009246;
  padding-top: -70px;
}
.pizzo {
  width: 45%;
  height: auto;
  margin-right: 3%;
}


.waddaya {
  height: 750px;
  margin: 0 auto;
}

.literal-pizza {
display: inline-block;
float: left;
margin-bottom: 45px;
margin-left: 450px;

}

.pizza-order {
  display: inline-block;
  float: right;
}

.reciept {
  background-color: #ce2b37;
  height: 450px;
}





#output {
  display: none;
  margin: 0 auto;
}
