body {
  text-align: center;
}

.greetings {
  background-color: #009246;
  padding-top: -70px;
}
.pizzo {
  width: 45%;
  height: auto;
  margin-right: 3%;
}


.waddaya {
  height: 750px;
}

.pizza-order {
  float: right;
}

.reciept {
  background-color: #ce2b37;
  height: 450px;
}





#output {
  display: none;
  margin: 0 auto;
}
